
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hamb-navbar-menu li:nth-child(2) {
        list-style:circle;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hamb-navbar-menu li:nth-child(2) {
        list-style:circle;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hamb-navbar-menu li:nth-child(2) {
        list-style:circle;
    }
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-menu li:nth-child(2) {
        border-bottom: .18rem solid rgb(120, 120, 120);;
        
    } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar-menu li:nth-child(2) {
        border-bottom: .18rem solid rgb(120, 120, 120);;
    }
    /*eglsz étlap*/
    #etlap h2{
        text-align: center;
    }
    #etlap{
        width: 80%;
        background-color: grey;
        border-radius: 10px;
        margin: auto;
    }
    h1{
        text-align: center;
        margin: auto;
        margin: 1rem 0 1rem 0;
    }
    hr{
        border: none;
        border-top: .2rem solid black;
        margin: 1rem 0 1rem 0;
    }
     /*levesek szekció*/
    #levesek{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
    #levesek img{
        width: 15rem;
        place-self: center;
    
    }
     /*Foetel szekció*/
    #foetel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
    #foetel img{
        width: 15rem;
        place-self: center;
    }

    /*Desszert szekció*/
    #desszert{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
    #desszert img{
        width: 15rem;
        place-self: center;
    }

    /*A menuket tartalmazo konténerek*/
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem 0 1rem 0;
    }
    .cont p{
        align-self: center;
        justify-self: end;
    }  
    .left{
        margin-left: 1rem;
    }
    .right{
        margin-right: 1rem;
    }
    /*tablazat*/
    #tablazat {
        width: auto;
        margin: 2rem auto;
        
    }
    #tablazat th, #tablazat td {
        border: 1px solid black;
        text-align: center;
        padding: 1.5rem;
    } 
    #tablazat th {
        background-color: #f2f2f2;
    }
    
}
