body{
  transition: background-color 0.8s ease;
}
.linkek{
color: black;
}
.linkek:visited{
  color: gray;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hamb-navbar-menu li:nth-child(1) {
    list-style:circle;
}
/*kep és cim*/
#kep{  
  width: 100%;
  height: 40vh;
  background-image: url(../imgs/fooldal/galeria2.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  display: flex;
  align-items: center;
  gap: 3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
  color: black;
}
.kepszoveg{
  text-align: center;
  font-size: 1rem;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 1rem;
  line-height: 2rem;
  height: fit-content;
  }
.kepszoveg h1{
  margin: 1rem;
}
  .kepszoveg p{
  margin: 1rem;
}
#button{
  padding: 1rem;
  font-size: 1rem;
  background: gray;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

/*Galéria*/
#cont{
    display: grid;
    margin-top: 3rem;
    gap: 1.5rem;
    place-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    place-self: center;
    grid-template-columns: 1fr;
 }
 #galeryh2{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  }
.gallery {
  margin: 0.5rem;
  border: 1px solid #ccc;
  width: 20rem;
  height: auto;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto
}

.desc {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}
/*Social Linkek*/
#linkek{
  text-align: center;
  margin: 1.5rem;
  }
  #linkek #maindiv{
    margin: 1.5rem;
    display: grid;
    font-size: 2rem;
  }
  .link{
    margin: 1rem;
  }
  .fa-instagram{
    background-image: linear-gradient(to bottom right, #405DE6, #5B51D8,#833AB4,#C13584,#E1306C,#FCAF45,#FFDC80,#FD1D1D,#F56040);
   background-clip: text;
   color: transparent;
  }
  .fa-facebook{
    color: blue;
  } 

/*video*/
#video h2{
  margin: 2rem;
  text-align: center;
  }
  
  #video{
  margin-top:3rem;
  text-align: center;
  width: 80%;
  margin: auto;
  }
  video{
  width:100%;
  }
   
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hamb-navbar-menu li:nth-child(1) {
    list-style:circle;
}
/*kep és cim*/
#kep{  
  width: 100%;
  height: 60vh;
  background-image: url(../imgs/fooldal/galeria2.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
  color: black;
}
.kepszoveg{
  text-align: center;
  font-size: 1rem;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 1rem;
  line-height: 2rem;
  }
.kepszoveg h1{
  margin: 1rem;
}
  .kepszoveg p{
  margin: 1rem;
}
#button{
  padding: 1rem;
  font-size: 1rem;
  background: gray;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

/*Galéria*/
#cont{
    display: grid;
    margin-top: 3rem;
    gap: 1.5rem;
    place-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    place-self: center;
    grid-template-columns: 1fr;
 }
 #galeryh2{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  }
.gallery {
  margin: 0.5rem;
  border: 1px solid #ccc;
  width: 25rem;
  height: auto;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto
}

.desc {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}
/*Social Linkek*/
#linkek{
  text-align: center;
  margin: 1.5rem;
  }
  #linkek #maindiv{
    margin: 1.5rem;
    display: grid;
    font-size: 2rem;
  }
  .link{
    margin: 1rem;
  }
  .fa-instagram{
    background-image: linear-gradient(to bottom right, #405DE6, #5B51D8,#833AB4,#C13584,#E1306C,#FCAF45,#FFDC80,#FD1D1D,#F56040);
   background-clip: text;
   color: transparent;
  }
  .fa-facebook{
    color: blue;
  }

/*video*/
#video h2{
  margin: 2rem;
  text-align: center;
  }
  
  #video{
  margin-top:3rem;
  text-align: center;
  width: 80%;
  margin: auto;
  }
  video{
  width:100%;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hamb-navbar-menu li:nth-child(1) {
    list-style:circle;
}
/*kep és cim*/
#kep{  
  width: 100%;
  height: 80vh;
  background-image: url(../imgs/fooldal/galeria2.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
  color: black;
}
.kepszoveg{
  text-align: center;
  font-size: 2rem;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 1rem;
  line-height: 3rem;
  }
.kepszoveg h1{
  margin: 1rem;
}
  .kepszoveg p{
  margin: 1rem;
}
#button{
  padding: 1rem;
  font-size: 1rem;
  background: gray;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
/*Galéria*/
#cont{
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    place-items: center;
}
#galeryh2{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  }
.gallery {
  margin: 0.5rem;
  border: 1px solid #ccc;
  width: 19rem;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 10rem;
}

.desc {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}
/*Social Linkek*/
#linkek{
  text-align: center;
  margin: 1.5rem;
  }
  #linkek #maindiv{
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
  }
  .fa-instagram{
    background-image: linear-gradient(to bottom right, #405DE6, #5B51D8,#833AB4,#C13584,#E1306C,#FCAF45,#FFDC80,#FD1D1D,#F56040);
   background-clip: text;
   color: transparent;
  }
  .fa-facebook{
    color: blue;
  }

/*video*/
#video h2{
  margin: 2rem;
  text-align: center;
  }
  
  #video{
  margin-top:3rem;
  text-align: center;
  width: 80%;
  margin: auto;
  }
  video{
  width:100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-menu li:nth-child(1) {
    border-bottom: .18rem solid rgb(120, 120, 120);
}
 /*kep és cim*/
#kep{  
  width: 100%;
  height: 60vh;
  background-image: url(../imgs/fooldal/galeria2.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
  color: black;
}

.kepszoveg{
  text-align: center;
  font-size: 2rem;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 1rem;
  line-height: 3rem;
  }
  
.kepszoveg h1{
margin: 1rem;
}
.kepszoveg p{
margin: 1rem;
}
#button{
  padding: 1rem;
  font-size: 1.5rem;
  background: gray;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

/*Galéria*/
#galeryh2{
text-align: center;
margin-top: 3rem;
margin-bottom: 3rem;
}
#cont{
  display: grid;
   gap: 1.5rem;
   grid-template-columns: repeat(2,1fr);
   place-items: center;
}
.gallery {
  margin: 0.5rem;
  border: 1px solid #ccc;
  width: 25rem;
  height: auto;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 18rem;
}

.desc {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}
/*Social Linkek*/
#linkek{
  text-align: center;
  margin: 1.5rem;
  }
  #linkek #maindiv{
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
  }
  .fa-instagram{
    background-image: linear-gradient(to bottom right, #405DE6, #5B51D8,#833AB4,#C13584,#E1306C,#FCAF45,#FFDC80,#FD1D1D,#F56040);
   background-clip: text;
   color: transparent;
  }
  .fa-facebook{
    color: blue;
  }

/*Vidoe*/
#video h2{
margin: 2rem;
text-align: center;
}

#video{
margin-top:3rem;
text-align: center;
width: 80%;
margin: auto;
}
video{
width:100%;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar-menu li:nth-child(1) {
    border-bottom: .18rem solid rgb(120, 120, 120);
}
/*kep és cim*/
#kep{  
    width: 100%;
    height: 80vh;
    background-image: url(../imgs/fooldal/galeria2.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
    color: black;
}
.kepszoveg{
text-align: center;
font-size: 2rem;
background-color: rgb(255, 255, 255, 0.5);
border-radius: 20px;
padding: 1rem;
line-height: 3rem;
}
.kepszoveg h1{
  margin: 1rem;
}
.kepszoveg p{
  margin: 1rem;
}
#button{
  padding: 1rem;
  font-size: 1.5rem;
  background: gray;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

/*Galéria*/
#galeryh2{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  }
#cont{
    display: grid;
     gap: 1.5rem;
     grid-template-columns: repeat(4,1fr);
     place-items: center;
}
.gallery {
    margin: 0.5rem;
    border: 1px solid #ccc;
    width: fit-content;  
    height: fit-content;
}
  
.gallery:hover {
    border: 1px solid #777;
}
  
.gallery img {
    width: 100%;
    height: 15rem;
}
  
.desc {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}


/*Social Linkek*/
#linkek{
text-align: center;
margin: 1.5rem;
}
#linkek #maindiv{
  margin: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 3rem;
}
.fa-instagram{
  background-image: linear-gradient(to bottom right, #405DE6, #5B51D8,#833AB4,#C13584,#E1306C,#FCAF45,#FFDC80,#FD1D1D,#F56040);
 background-clip: text;
 color: transparent;
}
.fa-facebook{
  color: blue;
}
/*Vidoe*/
#video h2{
  margin: 2rem;
  text-align: center;
}
#video{
  margin-top:3rem;
  text-align: center;
  width: 80%;
  margin: auto;
  }
video{
  width:100%;
}
}
