/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .hamb-navbar-menu li:nth-child(3) {
        list-style:circle;
    }
    #itallap{
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        background-color: gray;
        border-radius: 10px;
        padding-bottom: 1rem;
    }
    #header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 1rem;
    }
    #header img{
      width: 100%;
      height: 100%;
      border-radius: 0px;
      border-top-right-radius: 10px;
    }
    #header h1{
        border-radius: 10px;
    }
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .cont p{
        align-self: center;
        justify-self: end;
    }  
    #grup1{
        margin-top: 1rem;
        display: grid;
      
    }
    #grup2{
        margin-top: 1rem;
        display: grid;
      
    }
    #grup3{
        margin-top: 1rem;
        display: grid;
    }
    #grup4{
        margin-top: 1rem;
        display: grid;
    }
    #grup5{
        margin-top: 1rem;
        display: grid;
        margin-bottom: 1rem;
    }
   h2{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .hamb-navbar-menu li:nth-child(3) {
        list-style:circle;
    }


    #itallap{
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        background-color: gray;
        border-radius: 10px;
        padding-bottom: 1rem;
    }
    #header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 1rem;
    }
    #header img{
      width: 100%;
      height: 100%;
      border-radius: 0px;
      border-top-right-radius: 10px;
    }
    #header h1{
        border-radius: 10px;
        padding: 3rem;
    }
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .cont p{
        align-self: center;
        justify-self: end;
    }  
    #grup1{
        margin-top: 1rem;
        display: grid;
      
    }
    #grup2{
        margin-top: 1rem;
        display: grid;
      
    }
    #grup3{
        margin-top: 1rem;
        display: grid;
    }
    #grup4{
        margin-top: 1rem;
        display: grid;
    }
    #grup5{
        margin-top: 1rem;
        display: grid;
        margin-bottom: 1rem;
    }
   h2{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
   }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hamb-navbar-menu li:nth-child(3) {
        list-style:circle;
    }
    #itallap{
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        background-color: gray;
        border-radius: 10px;
        padding-bottom: 1rem;
    }
    #header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 2rem;
    }
    #header img{
      width: 100%;
      height: 100%;
      border-radius: 0px;
      border-top-right-radius: 10px;
    }
    #header h1{
        border-radius: 10px;
        padding: 3rem;
    }
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .cont p{
        align-self: center;
        justify-self: end;
    }  
    #grup1{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup2{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup3{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup4{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup5{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;
    }
   h2{
    text-align: center;
   }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-menu li:nth-child(3) {
        border-bottom: .18rem solid rgb(120, 120, 120);;
        
    }
    #itallap{
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        background-color: gray;
        border-radius: 10px;
        padding-bottom: 1rem;
    }
    #header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 3rem;
    }
    #header img{
      width: 100%;
      height: 100%;
      border-radius: 0px;
      border-top-right-radius: 10px;
    }
    #header h1{
        border-radius: 10px;
        padding: 3rem;
    }
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .cont p{
        align-self: center;
        justify-self: end;
    }  
    #grup1{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup2{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup3{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup4{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup5{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;
    }
   h2{
    text-align: center;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar-menu li:nth-child(3) {
        border-bottom: .18rem solid rgb(120, 120, 120);;
        
    }    
    #itallap{
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        background-color: gray;
        border-radius: 10px;
        padding-bottom: 1rem;
    }
    #header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 4rem;
    }
    #header img{
      width: 100%;
      height: 100%;
      border-radius: 0px;
      border-top-right-radius: 10px;
    }
    #header h1{
        border-radius: 10px;
        padding: 3rem;
    }
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .cont p{
        align-self: center;
        justify-self: end;
    }  
    #grup1{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup2{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup3{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup4{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #grup5{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;
    }
   h2{
    text-align: center;
   }

}
